	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<img id="bbaz-about-photo" src="assets/images/bbaz-about-1152x768.jpg" alt="Bradley Bazzle">
			</div>
			<div id="about-content" class="col-md-7">
				<p>
				Bradley Bazzle’s first novel, <i>Trash Mountain</i>, won the Red Hen Press Fiction Contest, judged by Steve Almond, 
				and will be published in the spring of 2018.&nbsp;&nbsp;
				His short stories appear in <i>Copper Nickel, Web Conjunctions, Epoch, Phoebe, New England Review, 
				Bad Penny Review,</i> and elsewhere, and have won awards from <i>Third Coast</i> and <i>The Iowa Review</i>.
				</p>
				<br />
				<p>
				Bradley grew up in Dallas, Texas, and has an MFA from Indiana University.&nbsp;&nbsp;
				More recently, he completed a PhD in English at the University of Georgia, where he taught writing.&nbsp;&nbsp;
				He lives in Athens, Georgia, with his wife and daughter.
				</p>
				<br />
				<p><b>bradleybazzle@gmail.com</b></p>
			</div>
			<!--div class="col-md-1">
			</div-->
		</div>
	</div>
