	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<img id="bbaz-photo" src="assets/images/bradley-on-roof.jpg" alt="Bradley Bazzle">
			</div>
			<div id="about-content" class="col-md-6">
        <p><b>Bradley Bazzle</b> is a writer in Athens, Georgia.&nbsp;&nbsp;His stories appear in <i>New England Review, New Ohio Review, Epoch, Phoebe, Web Conjunctions, Bad Penny Review, Beloit Fiction Journal,</i> and elsewhere, and have won awards from <i>Third Coast</i> and <i>The Iowa Review</i>.&nbsp;&nbsp;Bradley grew up in Dallas, Texas, and has an MFA from Indiana University.&nbsp;&nbsp;In Athens, he teaches writing at the University of Georgia and does improvisational comedy with Improv Athens.&nbsp;&nbsp;Other hobbies including backpacking with his wife, growing sweet potatoes, and tinkering with Von Lessinger equipment.
        </p>
				<br />
				<p><b>bradleybazzle@gmail.com</b></p>
			</div>
      <div class="col-md-1">
      </div>
		</div>
	</div>
