<div class="container">
	<h1>PRESS</h1>
	<br />

	<div class="row">
		<div class="col-md-12">
			<!-- Curly double quotes entities: &ldquo; &rdquo; -->
			<p>
			<span class="title">Praise for &ldquo;Crimes of the Video Age&rdquo;:</span>
			<br />
			“…one of the finest I have ever read”
			<br />
			<span class="reviewer">– Mary Florio, 
			<a href="http://www.newpages.com/item/5516-new-ohio-review" target="_BLANK">New Pages</a>
			</span>
			<p>
			<br />

			</p>
			<span class="title">Praise for &ldquo;The Case Against Dr. Smetana&rdquo;:</span>
			<br />
			“…fanciful, strange, and absurd”<br />
			<span class="reviewer">– David Backer, 
			<a href="http://fictiondaily.org/2012/06/15/long-621/" target="_BLANK">Fiction Daily</a>
			</span>
			<p>
			<br />

			</p>
			<span class="title">Praise for &ldquo;Magellan&rdquo;:</span>
			<br />
			“…a creative meditation on what is contained and what is erased from the historical record”<br />
			<span class="reviewer">– Shannon Smith, 
			<a href="http://www.newpages.com/item/4705-the-iowa-review" target="_BLANK">New Pages</a>
			</span>
			<p>
			<br />

			</p>
			<span class="title">Praise for &ldquo;Magellan&rdquo;:</span>
			<br />
			“A delightful, alchemical mixture of realism and complete bullshit . . . the most thrilling story I read the entire year.”<br />
			<span class="reviewer">– Bryan Castille, Fiction Editor, 
			<a href="http://www.iowareview.org/blog/why-we%E2%80%99re-excited-publish%E2%80%A6%E2%80%9Cmagellan%E2%80%9D-bradley-bazzle" target="_BLANK">The Iowa Review</a>
			</span>
			</p>
		</div>
	</div>
</div>
