<div class="container" data-ng-controller="storiesController">
	<h1>STORIES</h1>
	<br />

	<div class="row">
		<div class="col-md-5">

      <p>
      <span class="title">In the Presence of the Actor</span>
      <br />
      <i>Copper Nickel</i>, <span class="forthcoming">forthcoming</span>
      </p>
      <br />

      <p>
      <span class="title">Trash Mountain</span>
      <br />
      <i>Third Coast</i>, 40&nbsp;&amp;&nbsp;41 (Fall 2015): 120-133
      <br />
      * Winner of the 2015 Jaimy Gordon Prize, judged by Stuart Dybek
      </p>
      <br />

      <p>
      <span class="title">The Beard of Human Weakness</span>
      <br />
      <i>Web Conjunctions</i>, (January 19, 2016):
      <a href="http://www.conjunctions.com/webcon/bazzle16.htm" target="_BLANK">online</a>
      </p>
      <br />

			<p>
			<span class="title">Crimes of the Video Age</span>
			<br />
			<i>New Ohio Review</i>, 14 (Fall 2013): 120-130
			</p>
			<br />

			<p>
			<span class="title">A Complaint</span>
			<br />
			<i>NER Digital</i> (September 4, 2013):
			<a href="http://www.nereview.com/2013/09/04/a-complaint-by-bradley-bazzle/" target="_BLANK">online</a>
			</p>
			<br />

			<p>
			<span class="title">Cinder Blocks</span>
			<br />
			<i>Epoch</i>, 62, No. 1 (February 2013): 3-25
			</p>
			<br />

			<p>
			<span class="title">The Milkman</span>
			<br />
			<i>The Beloit Fiction Journal</i>, 25 (Spring 2012): 66-75
			</p>
			<br />

			<p>
			<span class="title">The Case Against Dr. Smetana</span>
			<br />
			<i>Phoebe</i>, 41, No. 2 (Spring 2012):
			<a href="http://www.phoebejournal.com/the-case-against-dr-smetana/" target="_BLANK">online</a>
			</p>
			<br />

			<p id="magellan-item" class="magellan-item" data-ng-class="magellanClass">
			<span class="title">Magellan</span>
			<br />
			<i>The Iowa Review</i>, 41, No. 3 (winter 2011-2012): 1-15
			<a href="http://www.iowareview.org/from-the-issue/volume-41-issue-3-%E2%80%94-winter-2011/magellan" target="_BLANK">excerpt</a>
			</p>
			<br />

			<p>
			<span class="title">Gift Horse</span>
			<br />
			<i>New England Review</i>, 31, No. 4 (winter 2010-2011): 54-68
			<a href="http://cat.middlebury.edu/~nereview/31-4/Bazzle.htm" target="_BLANK">online</a>
			</p>
			<br />

			<p>
			<span class="title">Bramilton’s Fury</span>
			<br />
			<i>Splash of Red</i> (July 9, 2010): online
			</p>
			<br />

			<p>
			<span class="title">The List</span>
			<br />
			<i>Cold Mountain Review</i>, 37, No. 2 (spring 2009): 61-64
			</p>
			<br />

			<p>
			<span class="title">The Dictionary</span>
			<br />
			<i>Opium</i>, 7 (2008): 95-97
			</p>
		</div>
		
		<div class="col-md-6 col-md-offset-1">
			<img id="magellan-img" src="/assets/images/magellan-480x437.jpg" width="480" height="437"
      data-ng-mouseenter="onMouseEnterMagellanImg()" data-ng-mouseleave="onMouseLeaveMagellanImg()">
		</div>
	</div><!-- row -->
</div><!-- .container -->
