	<div id="book-view" class="container">
		<div class="row">
			<div class="col-md-4">
				<a href="http://redhen.org/awards-2/red-hen-press-fiction-award/" target="_blank">
					<img style="width: 100%; height: auto;" id="trash-mountain-front-cover" src="/assets/images/trash-mountain-front-cover-825x1275.jpg" alt="Trash Mountain front cover">
				</a> 
				<br>
				<a href="http://redhen.org/" target="_blank">
					<img id="red-hen-logo" src="assets/images/red-hen-logo-horizontal-1877x264.jpg" alt="Red Hen">
				</a>
				<br>
			</div>
			<div class="col-md-5">
				<p style="font-size: 1.25em; font-weight: bold;">
					Bradley Bazzle’s first novel, <span class="oblique-font">Trash Mountain</span>, won the Red Hen Press Fiction Award, 
					judged by Steve Almond, and will be published on May 1st, 2018.
				</p>
				<br>
				<p>
					<span class="heading">THE STORY</span>
				</p>
				<p>
					Ben Shippers doesn’t have much use for school, friends, or any members of his family except his smartass sister, 
					but he has a secret passion: Trash Mountain, the central feature of the noxious landfill next to his house. After 
					a botched attempt to destroy Trash Mountain with a homemade firebomb, Ben begins a years-long infiltration that 
					finds him dropping out of school to work alongside homeless trash-pickers, and then, finally, interning at the 
					very place he meant to destroy. Ben’s boss there, a charismatic would-be titan of sanitation, forces Ben to choose 
					between providing for his family and sticking to his terroristic principals.
				</p>
				<p>
					With dark humor, <span class="oblique-font">Trash Mountain</span> reflects on life in small southern cities in decline, 
					and on the search for meaning among young people without adult examples.
				</p>
				<br>
				<p>
					<span class="heading">UPCOMING EVENTS</span>
				</p>
				<p>
					To celebrate the publication of the book, he’ll read at 6PM on Thursday, May 3rd, at Avid Bookshop in Athens, Georgia (493 Prince Avenue).
				</p>
				<p>
					Check back for updates on readings and other events.
				</p>
			</div>
			<div class="col-md-3">
				<p>
					<span class="bolder-font">PUB DATE: May 1, 2018</span>
					<br>
					<span class="bolder-font">ISBN:</span>978-1-59709-910-3
					<br>
					<span class="bolder-font">SIZE:</span> 5.5 in x 8.5 in
					<br>
					<span class="bolder-font">FORMAT:</span> Tradepaper
					<br>
					<span class="bolder-font">EXTENT:</span> 240pp
					<br>
					<span class="bolder-font">PRICE:</span> $16.95
				</p>
				<p>
					<span class="bolder-font">MEDIA CONTACT</span>
					<br>
					Alisa Trager
					<br>
					Marketing Associate
					<br>
					Red Hen Press
					<br>
					626-356-4760
					<br>
					marketing@redhen.org
				</p>
				<p>
					<span class="bolder-font">DISTRIBUTED BY</span>
					<br>
					Ingram Publisher Services
					<br>
					<span class="oblique-font">an exclusive distribution entity</span>
					<br>
					<br>
					<span class="bolder-font">ORDERING INFORMATION</span>
					<br>
					Tel: 800-252-7012
					<br>
					ips@ingramcontent.com
					<br>
					<a href="http://ipage.ingramcontent.com" target="_blank">ipage.ingramcontent.com</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="margin-top: 1em">
				<span class="heading">ADVANCE PRAISE</span>
				<p class="advance-praise">
					“Imagine Holden Caulfield growing up in a small Southern city, in the shadow of a toxic Everest - 
					that’s the small miracle Bradley Bazzle conjures in <span class="oblique-font">Trash Mountain</span>. 
					It’s a debut novel of the most astonishing sort, one that appears to have sprung fully formed from the capacious mind 
					of its creator. Ben Shippers is a hero of humble means and epic proportions, a young man torn between the outsized idealism 
					of childhood and the cruel compromises of adulthood. The story he tells us is sad, funny, beautiful, and thrilling. 
					I read the thing in one long, greedy gulp, and did so with my heart ablaze.”
				</p>
				<div class="praiser">
					&mdash; <span class="bolder-font">Steve Almond</span>, author of <span class="oblique-font">Candyfreak</span> and <span class="oblique-font">Bad Stories</span> and co-host of the <span class="oblique-font">New York Times</span> podcast “Dear Sugars” with Cheryl Strayed
				</div>
				<br>
				<p class="advance-praise">
					“In <span class="oblique-font">Trash Mountain</span>, Bradley Bazzle has created a perfect protagonist in Ben Shippers: 
					peculiar yet endearing, curiouser than a cat, and ready to take on the (trashy) challenges his young life throws at him. 
					The novel is funny and engaging, and Bradley's concise and vivid prose guides us masterfully to its insightful conclusion. 
					What a fine debut!”
				</p>
				<div class="praiser">
					&mdash; <span class="bolder-font">Samrat Upadhyay</span>, author of <span class="oblique-font">Arresting God in Kathmandu</span>
				</div>
				<br>
				<p class="advance-praise">
					“Bradley Bazzle is as funny as any novelist writing today. In this vivid coming-of-age romp about a noble arsonist, 
					small-town grifters, and high school satanists, Bazzle picks through the rubble of our rotting civilization to reveal 
					eternal truths about honor and shame. <span class="oblique-font">Trash Mountain</span> is a mournful, bonkers portrait 
					of a society made of trash.”
				</p>
				<div class="praiser">
					&mdash; <span class="bolder-font">Nathaniel Rich</span>, author of <span class="oblique-font">King Zeno</span> and <span class="oblique-font">Odds Against Tomorrow</span>
				</div>
				<br>
				<p class="advance-praise">
					“From Mark Twain to George Saunders, Bradley Bazzle’s <span class="oblique-font">Trash Mountain</span> joins a long 
					tradition of dark humor, wild inventiveness, and social satire in American letters. By turns hilarious, colorful, and 
					strange, this affecting debut novel revels in the absurd but never strays far from the deeply felt humanity of its characters.”
				</p>
				<div class="praiser">
					&mdash; <span class="bolder-font">Maceo Montoya</span>, author of <span class="oblique-font">The Deportation of Wopper Barraza</span>
				</div>
			</div>
		</div>
	</div>
