	<div id="book-view" class="container">
		<div class="row">
			<div class="col-md-4">
				<a href="http://redhen.org/awards-2/red-hen-press-fiction-award/" target="_blank">
					<img style="width: 100%; height: auto;" id="trash-mountain-front-cover" src="/assets/images/trash-mountain-front-cover-825x1275.jpg" alt="Trash Mountain front cover">
				</a> 
			</div>
			<div class="col-md-8">
				<p>
					Bradley Bazzle’s first novel, Trash Mountain, won the Red Hen Press Fiction Award, judged by Steve Almond, 
					and will be published on May 1st, 2018. From March 8th through 10th, Bradley will be signing advanced copies at 
					the AWP book fair in Tampa, Florida. At 5PM on Saturday the 10th, he’ll be reading, along with other 
					Indiana University MFA alumni, at Four Green Fields (205 West Platt Street). To celebrate the publication of the 
					book, he’ll read at 6PM on Thursday, May 3rd, at Avid Bookshop in Athens, Georgia (493 Prince Avenue). 
					Check back for updates on readings and other events. Here’s a little more about the book:
				</p>
				<span class="heading">THE STORY</span>
				<p>
					Ben Shippers doesn’t have much use for school, friends, or any members of his family except his smartass sister, 
					but he has a secret passion: Trash Mountain, the central feature of the noxious landfill next to his house. After 
					a botched attempt to destroy Trash Mountain with a homemade firebomb, Ben begins a years-long infiltration that 
					finds him dropping out of school to work alongside homeless trash-pickers, and then, finally, interning at the 
					very place he meant to destroy. Ben’s boss there, a charismatic would-be titan of sanitation, forces Ben to choose 
					between providing for his family and sticking to his terroristic principals.
				</p>
				<p>
					With dark humor, Trash Mountain reflects on life in small southern cities in decline, and on the search for meaning among young people without adult examples.
				</p>
				<span class="heading">ADVANCE PRAISE</span>
				<p class="advance-praise">
					“Imagine Holden Caulfield growing up in a small Southern city, in the shadow of a toxic Everest - 
					that’s the small miracle Bradley Bazzle conjures in <span class="oblique-font">Trash Mountain</span>. 
					It’s a debut novel of the most astonishing sort, one that appears to have sprung fully formed from the capacious mind 
					of its creator. Ben Shippers is a hero of humble means and epic proportions, a young man torn between the outsized idealism 
					of childhood and the cruel compromises of adulthood. The story he tells us is sad, funny, beautiful, and thrilling. 
					I read the thing in one long, greedy gulp, and did so with my heart ablaze.”
				</p>
				<div class="praiser">
					- <span class="bolder-font">Steve Almond</span>, author of <span class="oblique-font">Candyfreak</span> and <span class="oblique-font">Bad Stories</span> and co-host of the <span class="oblique-font">New York Times</span> podcast “Dear Sugars” with Cheryl Strayed
				</div>
				<br>
				<p class="advance-praise">
					“In <span class="oblique-font">Trash Mountain</span>, Bradley Bazzle has created a perfect protagonist in Ben Shippers: 
					peculiar yet endearing, curiouser than a cat, and ready to take on the (trashy) challenges his young life throws at him. 
					The novel is funny and engaging, and Bradley's concise and vivid prose guides us masterfully to its insightful conclusion. 
					What a fine debut!”
				</p>
				<div class="praiser">
					- <span class="bolder-font">Samrat Upadhyay</span>Samrat Upadhyay, author of <span class="oblique-font">Arresting God in Kathmandu</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3" style="padding-top: 2em; padding-left: 0.85em;">
				<a href="http://redhen.org/" target="_blank">
					<img id="bbaz-about-photo" src="assets/images/red-hen-logo-horizontal-1877x264.jpg" alt="Red Hen">
				</a>
			</div>
		</div>
	</div>
