	<div class="container">
		<div class="row" style="padding-top: 2em;">
			<div id="book-content" class="col-md-8">
				<p>
				Bradley Bazzle’s first novel, <b><i>Trash Mountain</i></b>, won the 
				<a href="http://redhen.org/awards-2/red-hen-press-fiction-award/" target="_blank">Red Hen Press Fiction Award</a>, 
				judged by Steve Almond, and will be published by Red Hen in the spring of 2018.&nbsp;&nbsp;
				In February, Bradley will be signing advanced copies at the AWP book fair in Tampa, Florida. 
				Check back for updates on readings and other events.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3" style="padding-top: 2em; padding-left: 0.85em;">
				<a href="http://redhen.org/" target="_blank">
					<img id="bbaz-about-photo" src="assets/images/red-hen-logo-horizontal-1877x264.jpg" alt="Red Hen">
				</a>
			</div>
		</div>
	</div>
