/* Full site */
body {
	font-family: 'Lato', sans-serif;
}


/* Navbar */
.navbar {
  background-color: #96362A;
  font-size: 125%;
}
/*
.navbar {
  background-image: url('../images/blade-of-grass-1920x1080.jpg');
  background-size: 100% auto;
  font-size: 125%;
}
*/

#navbar a {
	background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ff4d4d;
}
/*
.navbar-inverse .navbar-nav > li > a {
  color: #0f0;
}
*/

/* Footer */
.footer {
  background-image: url('../images/blade-of-grass-1920x1080.jpg');
  background-repeat: no-repeat;
  text-align: right;
  padding: 0.5em 1.5em;
  margin-top: 0.5em;
}

.footer a {
  text-decoration:none;
}

.footer a,
.footer a:focus {
  color: #0f0;
}

.footer a:hover {
  color: #fff;
}

/* About view */
#header-title {
	color: #fff;
	padding-left: 15px;
}

#bbaz-about-photo,
#graphene-cover {
	max-width: 100%;
}

#bbaz-about-photo-cropped {
	max-width: 50%;
	float: left;
	margin-right: 1em;
	display: none;
}

#about-content,
#book-content  {
	font-size: 125%;
}

.title {
	font-size: 125%;
	font-weight: 700;
	/*color: #000000;*/
}

.praise-title {
	font-style: italic;
}

.reviewer {
	display: inline-block;
	text-indent: 50px;
}


/* Book view */
#book-view .heading {
	font-size: 1.25em;
	font-weight: bolder;
}

#book-view .advance-praise {
	margin-bottom: 0;
}

#book-view .praiser {
	margin-left: 4em;
}

#red-hen-logo {
	max-width: 100%;
	margin-bottom: 1em;
}

#trash-mountain-cover {
	width: 100%;
	height: auto;
}


/* Miscellaneous */
.forthcoming {
  color: #ff0808;
}

.oblique-font {
	font-style: oblique;
}

.bolder-font {
	font-weight: bolder;
}

.no-left-padding {
	padding-left: 0;
}

#stories-view a,
#other-view a,
#press-view a
{
	color: #96362A;
}


/* Media queries */
/* 1200px */
@media only screen and (max-width: 1200px) {
	#bbaz-photo {
		width: 293px;
	}
}
/* 992 */
@media only screen and (max-width: 992px) {
	#magellan-img,
	#beast-yucca-flats-img,
	#graphene-cover,
	#bbaz-about-photo {
		display: none;
	}

	#bbaz-about-photo-cropped {
		display: inline-block;
	}
}
/* 768px */
@media only screen and (max-width: 768px) {
	#trash-mountain-cover {
		width: 50%;
	}

	#red-hen-logo {
		max-width: 50%;
	}

	#magellan-img {
		display: none;
	}
}
