/* Full site */
body {
	font-family: 'Lato', sans-serif;
}


/* Navbar */
.navbar {
  background-image: url('../images/blade-of-grass-1920x1080.jpg');
  background-size: 100% auto;
  font-size: 125%;
}

#navbar a {
	background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #0f0;
}

/* Footer */
.footer {
  background-image: url('../images/blade-of-grass-1920x1080.jpg');
  background-repeat: no-repeat;
  text-align: right;
  padding: 0.5em 1.5em;
  margin-top: 0.5em;
}

.footer a {
  text-decoration:none;
}

.footer a,
.footer a:focus {
  color: #0f0;
}

.footer a:hover {
  color: #fff;
}

/* Home page */
#header-title {
	color: #fff;
	padding-left: 15px;
}

#bbaz-about-photo {
	max-width: 100%;
}

#about-content,
#book-content  {
	font-size: 125%;
}

.title {
	font-size: 125%;
	font-weight: 700;
	/*color: #000000;*/
}

.praise-title {
	font-style: italic;
}

.reviewer {
	display: inline-block;
	text-indent: 50px;
}


/* Book view */
#book-view .heading {
	font-size: 1.25em;
	font-weight: bolder;
}

#book-view .advance-praise {
	margin-bottom: 0;
}

#book-view .praiser {
	margin-left: 4em;
}


/* Miscellaneous */
.forthcoming {
  color: #ff0808;
}

.oblique-font {
	font-style: oblique;
}

.bolder-font {
	font-weight: bolder;
}


/* Media queries */
/* 992px */
@media only screen and (max-width: 1200px) {

	#bbaz-photo {
		width: 293px;
	}
	
}