/* Full site */
body {
	font-family: 'Lato', sans-serif;
}

/* Home page */
#header-title {
	color: #fff;
	padding-left: 15px;
}
#bbaz-photo {
	height:286px;
	border-radius: 5px;
}

#heading-name {
	margin-top: 0;
	line-height: 1;
	/*font-family: 'Lobster', cursive;*/
}

.title {
	font-size: 125%;
	font-weight: 700;
	/*color: #000000;*/
}

.praise-title {
	font-style: italic;
}

.reviewer {
	display: inline-block;
	text-indent: 50px;
}