/* Full site */
body {
	font-family: 'Lato', sans-serif;
}


/* Navbar */
.navbar {
  background-image: url('../images/blade-of-grass-1920x1080.jpg');
  background-repeat: no-repeat;
  font-size: 125%;
}

#navbar a {
	background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #0f0;
}

/* Footer */
.footer {
  background-image: url('../images/blade-of-grass-1920x1080.jpg');
  background-repeat: no-repeat;
  text-align: right;
  padding: 0.5em 1.5em;
  margin-top: 0.5em;
}

.footer a {
  text-decoration:none;
}

.footer a,
.footer a:focus {
  color: #0f0;
}

.footer a:hover {
  color: #fff;
}

/* Home page */
#header-title {
	color: #fff;
	padding-left: 15px;
}

#bbaz-photo {
	width: 360px;
	height: auto;
	/*border-radius: 5px;*/
}

#about-content {
	font-size: 150%;
}

.title {
	font-size: 125%;
	font-weight: 700;
	/*color: #000000;*/
}

.praise-title {
	font-style: italic;
}

.reviewer {
	display: inline-block;
	text-indent: 50px;
}


/* Miscellaneous */
#magellan-item,
#beast-item {
	margin-left: -15px;
	padding-left: 15px;
	border-radius: 4px;
}

.forthcoming {
  color: #ff0808;
}

.magellanItem,
.beastItem {
  transition: background-color 500ms linear;
}

.magellanItem.animateBgColor,
.beastItem.animateBgColor {
  background-color: #80ff80;
}


/* Media queries */
/* 992px */
@media only screen and (max-width: 1200px) {

	#bbaz-photo {
		width: 293px;
	}
	
}