<div class="container" data-ng-controller="otherController">
	<h1>OTHER</h1>
	<br />

	<div class="row">
		<div class="col-md-6">
			<p id="beast-yucca-flats-item" class="beast-item" data-ng-class="beastClass">
			<span class="title">Flag on the Moon: the Beast of Yucca Flats</span>
			<br />
			<i>NER Digital</i> (June 21, 2012):<span style="margin-left: 1em;">(creative nonfiction)</span>
			<a href="http://www.nereview.com/tag/the-beast-of-yucca-flats/" target="_TARGET">online</a>
			</p>
			<br />

			<p>
			<span class="title">Maceo Montoya, The Scoundrel and the Optimist</span>
			<br />
			<i>Indiana Review</i>, 32, No. 1 (Summer 2010): 176-177<span style="margin-left: 1em;">(book review)</span>
			</p>
			<br />

			<p>
			<span class="title">The Paris Review Perspective</span>
			<br />
			<i>Critical Insights: Benjamin Franklin.</i> Pasadena, CA: Salem Press, 2009<span style="margin-left: 1em;">(critical anthology)</span>
			</p>
			<br />

			<p>
			<span class="title">Bernard Share, Inish</span>
			<br />
			<i>Indiana Review</i>, 31, No. 2 (Winter 2009): 180-181<span style="margin-left: 1em;">(book review)</span>
			</p>
		</div>

		<div class="col-md-6">
			<img id="beast-yucca-flats-img" src="/assets/images/beast-yucca-flats-400x278.jpg" width="480" height="437"
      data-ng-mouseenter="onMouseEnterBeastImg()" data-ng-mouseleave="onMouseLeaveBeastImg()">
		</div>
	</div><!-- .row -->
</div><!-- .container -->
