<div class="container">
	<h1>OTHER</h1>
	<br />

	<div class="row">
		<div class="col-md-12">
			<p>
			<span class="title">Flag on the Moon: the Beast of Yucca Flats</span>
			<br />
			NER Digital (June 21, 2012): (creative nonfiction)
			<a href="http://www.nereview.com/tag/the-beast-of-yucca-flats/" target="_TARGET">online</a>
			</p>
			<br />

			<p>
			<span class="title">Maceo Montoya, The Scoundrel and the Optimist</span>
			<br />
			Indiana Review, 32, No. 1 (Summer 2010): 176-177 (book review) 
			</p>
			<br />

			<p>
			<span class="title">The Paris Review Perspective</span>
			<br />
			Critical Insights: Benjamin Franklin. Pasadena, CA: Salem Press, 2009 (critical anthology)
			</p>
			<br />

			<p>
			<span class="title">Bernard Share, Inish</span>
			<br />
			Indiana Review, 31, No. 2 (Winter 2009): 180-181 (book review)
			</p>
		</div>
	</div>
</div>
